* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:rgb(255, 255, 255);
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2 {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    color: rgb(66, 66, 66);
    font-style: normal;
}

header button {
    margin-left: 16px;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 24px 0;
    text-align: center;
    display:none;
}

form h2 {
    margin-bottom: 16px;
}

input,
button {
    padding: 8px;
    border-radius: 18px;
    border-style: double;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;


}

button {
    background-color: rgb(63,161,153);
    border-color: rgb(63, 161, 153);
    font-optical-sizing: auto;
    font-style: normal;;
    font-weight: bold;
    color:rgb(63, 161, 153);
    cursor: pointer;
}


#newimg {
    background-color: rgb(255, 255, 255);
}

ul {
    display:flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img{
    width: 100%;
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(63, 161, 153);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
    text-align: center;

}

.overlay-imagem-link a {
    color: white;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
}


ul li:hover .overlay-imagem-link {
    opacity: 1;
}

#botao-cancelar{
    border-color:rgb(221, 85, 85);
    color:rgb(255, 255, 255) ;
    background-color: rgb(221, 85, 85);
}

#botao-adicionar{
    color: rgb(255, 255, 255);
}